GMAIL_USER=sciencedotbusiness@gmail.com
GMAIL_PASS=forl vxdt kfhz jziw
ADMIN_EMAIL=sciencedotbusiness@gmail.com
NOTION_TOKEN=ntn_q24991831505b26Vj6oKVHpkQlnynCKWLlyEi44CCAU34U
NOTION_DATABASE_ID=340094f6822e80439978cf6b24450e45
